## Hugo 생성 산출물
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
.hugo_build.lock
hugo.log

## Hugo 캐시 & 임시 (혹시 생길 경우)
/.hugo_cache/
/.hugo/

## 실행 파일 (OS별 Hugo 바이너리)
hugo.exe
hugo.darwin
hugo.linux

## Node.js 의존성
node_modules/

## macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

## 썸네일/시스템 파일
._*
.Spotlight-V100
.Trashes

## IDE & Editor 설정/캐시
.idea/
.vscode/
*.swp
*.swo
.cursorignore
.cursorindexingignore

## Python (툴/스크립트 사용 대비)
__pycache__/
*.pyc
.venv/
venv/