{{ partial "header.html" . }}

<main>
  {{ partial "sidebar.html" . }}

  <div class="main-content">
    <nav class="navbar">
      <ul class="navbar-list">
        <li class="navbar-item"><a href="/" class="navbar-link">Home</a></li>
        <li class="navbar-item"><a href="/posts/" class="navbar-link active">Blog</a></li>
      </ul>
    </nav>

    <article class="blog active" data-page="blog">
      <header>
        <h1 class="h2 article-title">{{ .Title }}</h1>
      </header>
      <section class="blog-posts">
        <ul class="blog-posts-list">
          {{ range .Pages.ByDate.Reverse }}
          <li class="blog-post-item blog-card">
            <a href="{{ .RelPermalink }}">
              <div class="blog-meta">
                <span>{{ if .Params.categories }}{{ index .Params.categories 0 }}{{ else }}Post{{ end }}</span>
                <span class="dot"></span>
                <time datetime="{{ .Date.Format `2006-01-02` }}">{{ .Date.Format "Jan 02, 2006" }}</time>
              </div>
              <h3 class="h3 blog-item-title">{{ .Title }}</h3>
              <p class="blog-text">{{ .Summary | plainify | htmlUnescape | truncate 140 }}</p>
            </a>
          </li>
          {{ end }}
        </ul>
      </section>
    </article>
  </div>
</main>

{{ partial "footer.html" . }}
